.magic-header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 24px;
}

.nav-bar {
  display: flex;
  justify-self: center;
}

.dream-links {
  display: flex;
  gap: 32px;
  list-style-type: circle;
  padding-right: 7px;
}

.dream-item {
  font-size: 18px;
  font-weight: 400;
  text-underline-offset: 4px;
}

.moon-marker {
  list-style-type: none;
}

.link-path {
  color: inherit;
  text-decoration: underline;
}

.main-path {
  text-decoration: none;
}

.brand-symbol {
  width: 148px;
  height: 105px;
}

.contact-soul {
  padding-left: 185px;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0.18px;
  font-family: "Raleway", sans-serif;
  list-style-type: none;
}

.contact-call {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.place-echo {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  font-style: normal;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.dream-hero {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  color: white;
  text-transform: uppercase;
  z-index: 0;
  background-repeat: no-repeat;
  background-position: center;
}

.veil-shadow {
  position: absolute;
  inset: 0;
  background-color: rgba(0,0,0,0.6);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.hero-chant {
  display: flex;
  flex-direction: column;
  padding: 165px 50px 147px;
  gap: 20px;
}

.hero-word {
  font-size: 100px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 30px;
  align-self: flex-start;
  transform: translateY(2px);
}

.word-center {
  align-self: center;
  top: 15px;
  position: relative;
}

.word-right {
  align-self: flex-end;
  position: relative;
  top: 15px;
  left: 30px;
}

.hero-space, .letter-no-space {
  letter-spacing: 60px;
}

.hero-vision {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  padding: 0px 50px 55px 78px;
  gap: 79px;
}

.vision-text {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18px;
}

.wish-button {
  width: 256px;
  height: 51px;
  border: 1px solid white;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 51px;
  font-weight: 500;
  text-align: center;
}

.gallery-section {
  padding-top: 179px;
}

.gallery-title {
  padding-left: 64px;
  padding-bottom: 26px;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lot-field {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.story-card {
  max-width: 334px;
  min-height: 563px;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 51px 40px 48px;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.dream-one { background-image: url(./../images/card-lot-01.jpg); }
.dream-two { background-image: url(./../images/card-lot-02.jpg); }
.dream-three { background-image: url(./../images/card-lot-03.jpg); }

.story-title {
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.story-text {
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.more-dreams {
  display: block;
  text-underline-offset: 3px;
  padding-top: 30px;
  color: black;
  font-size: 20px;
  font-weight: 400;
  margin-left: 64px;
}

.story-about {
  margin-top: 148px;
}

.about-realm {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 34px 24px 0px;
}

.about-symbol {
  justify-self: center;
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.symbol-mark {
  width: 148px;
  height: 114px;
}

.about-essence {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 100px;
}

.about-title {
  color: black;
  font-size: 40px;
  font-weight: 700;
}

.about-texts {
  align-self: flex-start;
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.about-paragraph:first-child { padding-top: 76px; }
.about-paragraph:last-child { padding-top: 25px; }

.site-footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 180px 50px 88px;
  gap: 140px;
  align-items: flex-start;
}

.footer-soul { padding-left: 0px; }

.footer-nav { padding-left: 35px; }

.footer-nav-list { list-style-type: none; text-underline-offset: 3px; }

.link-spirit {
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
}

.footer-link--main { text-decoration: none; }

.footer-icons {
  display: flex;
  gap: 48px;
}

.icon-mark {
  width: 48px;
  height: 48px;
}
