.story-text {
  color: white;
  font-size: 20px;
  line-height: 120%;
}

.about-title {
  color: black;
  font-size: 40px;
  font-weight: 700;
}

.more-dreams {
  display: block;
  padding-top: 30px;
  margin-left: 64px;
  color: black;
  font-size: 20px;
  text-underline-offset: 3px;
}

.symbol-mark {
  width: 148px;
  height: 114px;
}

.hero-vision {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  padding: 0 50px 55px 78px;
  gap: 79px;
}

.veil-shadow {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.about-essence {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 100px;
}

.vision-text {
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18px;
}

.footer-path {
  padding-left: 35px;
}

.dream-hero {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  text-transform: uppercase;
  background-repeat: no-repeat;
}

.story-card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 51px 40px 48px;
  justify-content: space-between;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 24px;
}

.about-texts {
  color: black;
  font-size: 20px;
  line-height: 24px;
  font-family: "Raleway", sans-serif;
}

.story-about {
  margin-top: 148px;
}

.about-symbol {
  justify-self: center;
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dream-links {
  display: flex;
  gap: 32px;
  list-style-type: circle;
  padding-right: 7px;
}

.hero-word {
  font-size: 100px;
  font-weight: 700;
  letter-spacing: 30px;
  line-height: 100%;
  align-self: flex-start;
}

.word-center {
  align-self: center;
  top: 15px;
  position: relative;
}

.about-realm {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 34px 24px 0;
}

.hero-chant {
  display: flex;
  flex-direction: column;
  padding: 165px 50px 147px;
  gap: 20px;
}

.brand-symbol {
  width: 148px;
  height: 105px;
}

.vision-text {
  font-size: 22px;
  line-height: 28px;
  word-spacing: 18px;
}

.wish-button {
  width: 256px;
  height: 51px;
  border: 1px solid white;
  background: transparent;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 22px;
  font-weight: 500;
  text-align: center;
}

.lot-field {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
  justify-content: center;
}

.dream-one {
  background-image: url(./../images/card-lot-01.jpg);
}

.dream-two {
  background-image: url(./../images/card-lot-02.jpg);
}

.dream-three {
  background-image: url(./../images/card-lot-03.jpg);
}

.hero-word .soul-space {
  letter-spacing: 60px;
}

.word-right {
  align-self: flex-end;
  position: relative;
  top: 15px;
  left: 30px;
}

.footer-soul {
  padding-left: 0;
}

.contact-call {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.contact-soul {
  padding-left: 185px;
  font-size: 18px;
  line-height: 24.3px;
  font-family: "Raleway", sans-serif;
  list-style-type: none;
}

.story-title {
  color: white;
  font-size: 22px;
  font-weight: 700;
  text-decoration: underline;
  text-transform: uppercase;
}

.link-spirit {
  color: black;
  text-align: center;
  font-size: 18px;
}

.main-path {
  text-decoration: none;
}

.icon-mark {
  width: 48px;
  height: 48px;
}

.footer-icons {
  display: flex;
  gap: 48px;
}

.letter-no-space {
  letter-spacing: 60px;
}

.gallery-title {
  padding: 0 0 26px 64px;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.lot-card {
  max-width: 334px;
  min-height: 563px;
  flex-grow: 1;
}

.dream-item {
  font-size: 18px;
  font-weight: 400;
  text-underline-offset: 4px;
}

.moon-marker {
  list-style-type: none;
}

.place-echo {
  font-size: 18px;
  line-height: 24.3px;
  font-style: normal;
  font-family: "Raleway", sans-serif;
}
