.header {
  display: grid;
  grid-template-columns: 1fr min-content 1fr;
  align-items: center;
  padding: 92px 24px;
}

.nav-bar {
  display: flex;
  justify-self: center;
}

.nav-list {
  display: flex;
  gap: 32px;
  list-style-type: circle;
  padding-right: 7px;
}

.nav-item {
  font-size: 18px;
  font-weight: 400;
  text-underline-offset: 4px;
}

.nav-item--active {
  list-style-type: none;
}

.nav-link {
  color: inherit;
  text-decoration: underline;
}

.nav-link--main {
  text-decoration: none;
}

.logo {
  width: 148px;
  height: 105px;
}

.contact-list {
  padding-left: 185px;
  font-size: 18px;
  line-height: 24.3px;
  letter-spacing: 0.18px;
  font-family: "Raleway", sans-serif;
  list-style-type: none;
}

.contact-phone {
  text-decoration: underline;
  text-underline-offset: 4px;
}

.contact-address {
  font-size: 18px;
  font-weight: 400;
  line-height: 24.3px;
  font-style: normal;
  text-decoration: none;
  font-family: "Raleway", sans-serif;
}

.hero-section {
  position: relative;
  background-image: url(../images/cover.jpg);
  background-size: cover;
  color: white;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.hero-title {
  display: flex;
  flex-direction: column;
  padding: 165px 50px 147px;
  gap: 20px;
}

.hero-word {
  font-size: 100px;
  font-weight: 700;
  line-height: 100%;
  letter-spacing: 30px;
  align-self: flex-start;
}

.hero-word--center {
  align-self: center;
  position: relative;
  top: 15px;
}

.hero-word--right {
  align-self: flex-end;
  position: relative;
  top: 15px;
  left: 30px;
}

.hero-space {
  letter-spacing: 60px;
}

.hero-nospace {
  letter-spacing: 60px;
}

.hero-description {
  display: flex;
  align-items: baseline;
  justify-content: space-evenly;
  padding: 0 50px 55px 78px;
  gap: 79px;
}

.hero-subtitle {
  font-size: 22px;
  font-weight: 400;
  line-height: 28px;
  word-spacing: 18px;
}

.hero-button {
  width: 256px;
  height: 51px;
  border: 1px solid white;
  background-color: transparent;
  font-family: "Raleway", sans-serif;
  color: #fff;
  font-size: 22px;
  line-height: 51px;
  font-weight: 500;
  text-align: center;
}

.gallery-section {
  padding-top: 179px;
}

.gallery-title {
  padding-left: 64px;
  padding-bottom: 26px;
  color: #000;
  font-size: 40px;
  font-weight: 700;
  text-transform: uppercase;
}

.gallery-grid {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  gap: 25px;
  justify-content: center;
}

.gallery-card {
  max-width: 334px;
  min-height: 563px;
  flex-grow: 1;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 51px 40px 48px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.gallery-card--film {
  background-image: url(../images/card-lot-01.jpg);
}

.gallery-card--book {
  background-image: url(../images/card-lot-02.jpg);
}

.gallery-card--painting {
  background-image: url(../images/card-lot-03.jpg);
}

.card-overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.card-heading {
  color: white;
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
  text-decoration-line: underline;
  text-transform: uppercase;
}

.card-description {
  color: white;
  font-size: 20px;
  font-weight: 400;
  line-height: 120%;
}

.gallery-more {
  display: block;
  text-underline-offset: 3px;
  padding-top: 30px;
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 23.48px;
  margin-left: 64px;
}

.about-section {
  margin-top: 148px;
}

.about-wrapper {
  display: grid;
  grid-template-columns: 334px 1fr;
  gap: 25px;
  padding: 34px 24px 0;
}

.about-logo {
  justify-self: center;
  background-color: #000;
  border-radius: 50%;
  width: 240px;
  height: 240px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.about-logo-img {
  width: 148px;
  height: 114px;
}

.about-content {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 100px;
}

.about-title {
  color: black;
  font-size: 40px;
  font-weight: 700;
  line-height: 46.96px;
}

.about-text {
  align-self: flex-start;
  font-family: "Raleway", sans-serif;
  color: black;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}

.about-paragraph {
  padding-top: 25px;
}

.about-paragraph:first-child {
  padding-top: 76px;
}

.site-footer {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 180px 50px 88px;
  gap: 140px;
  align-items: flex-start;
}

.contact-list--footer {
  padding-left: 0;
}

.footer-nav {
  padding-left: 35px;
}

.footer-nav-list {
  list-style-type: none;
  text-underline-offset: 3px;
}

.footer-link {
  color: black;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: normal;
  text-decoration: underline;
}

.footer-link--main {
  text-decoration: none;
}

.social-links {
  display: flex;
  gap: 48px;
}

.social-icon {
  width: 48px;
  height: 48px;
}
